*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $fontSite;
  font-size: 14px;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  background-color: $whiteBackground;
}
